<%- include('header', {pagetitle: 'Csapat szerkesztése'}) -%>
<%- include('nav', {currentpage: 'league'}) -%>
<div class="vr"></div>
<body>
  <form class="container" method="post">
    <div class="row">
      <div class="mb-3">
        <label for="name" class="form-label">Név</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= (typeof team === "undefined") ? '' : team.name %>">
      </div>
      <div class="mb-3">
        <label for="league" class="form-label">Liga</label>
        <input type="text" class="form-control" id="league" name="league" value="<%= (typeof team === "undefined") ? '' : team.league %>">
      </div>
      <div class="mb-3">
        <label for="nation" class="form-label">Nemzetiség</label>
        <input type="text" class="form-control" id="nation" name="nation" value="<%= (typeof team === "undefined") ? '' : team.nation %>">
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Mentés és vissza"/>
    <a class="btn btn-outline-danger" href="/" role="button">Vissza</a>
  </form>
</body>
<%- include('footer') -%>