<%- include('header', {pagetitle: 'Fantáziák ligája'}) -%>
<%- include('nav', {currentpage: 'league'}) -%>
<div class="vr"></div>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="text-center">
                    <tr>
                        <th>Név</th>
                        <th>Liga</th>
                        <th>Nemzetiség</th>
                        <th>Módosítás</th>
                    <tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <% teams.forEach(function (oneTeam) { %>
                        <tr onclick="window.location='/team/<%= oneTeam._id %>'">
                            <td><%= oneTeam.name %></td>
                            <td><%= oneTeam.league %></td>
                            <td><%= oneTeam.nation %></td>
                            <td class="text-center">
                                <a href="/edit/<%= oneTeam._id %>"><i class="fa-regular fa-pen-to-square" style="color: black"></i></a>
                                <a href="#"><i class="fa-solid fa-trash" style="color: black"></i></a>
                            </td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<%- include('footer') -%>