<%- include('header', {pagetitle: 'Csapat'}) -%>
<%- include('nav', {currentpage: 'team'}) -%>
<div class="vr"></div>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered table-hover">
                <thead class="text-center">
                <tr>
                    <th>Név</th>
                    <th>Pozíció</th>
                    <th>Nemzetiség</th>
                    <th>Mez</th>
                    <th>Módosítás</th>
                <tr>
                </thead>
                <tbody class="table-group-divider text-center" >
                <% playerlist.forEach(function (onePlayer) { %>
                    <tr>
                        <td><%= onePlayer.name %></td>
                        <td><%= onePlayer.position %></td>
                        <td><%= onePlayer.nation %></td>
                        <td><%= onePlayer.number %></td>
                        <td>
                            <a href="/team/3/edit/<%= onePlayer._id %>"><i class="fa-regular fa-pen-to-square" style="color: black"></i></a>
                            <a href="#"><i class="fa-solid fa-trash" style="color: black"></i></a>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<%- include('footer') -%>